* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
    
}

section#telefone {
    position: absolute;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    width: 311px;
    height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

iframe {
    position: relative;
    left: 22px;
    top: 80px;
    width: 268px;
    height: 471px;
    border-radius: 5px;
    
}

section#redes-sociais {
    text-align: right;
   
}

main > section#redes-sociais a  img {
    margin: 10px;
    width: 80px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.486);
}

main > section#redes-sociais a img:hover {
    border: 3px solid white;
    box-shadow: 0px 1px 6px white;
    transform: translate(-3px,-3px);
    transition: transform 0.5s;
    
} 
